    /* Grid Layout */
    @media screen and (min-width: 800px) {
        /* Grid Layout */
          .creditscontent {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            
            max-height: 100%;
          } /*Grid Areas*/
              #frank {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start:1;
                grid-row-end:2;
                
                z-index: -1;
                height: 100%;
                object-fit: contain;
            } .thanks {
                grid-row-start: 1;
                grid-row-end:2;
                grid-column-start:1;
                grid-column-end: 2;
            }
      }
      @media screen and (min-width:1000px) {
        #frank {
          object-fit: cover;
        }
      }