@media screen and (min-width: 800px) {
    /* Grid Layout */  
      .homeMain {
        max-height: 100%;
        grid-template-columns: 18% 6% 29% 5% 42%;
        grid-template-rows: 20% 19% 51% 12%;
      } /* Grid Areas */
            .head {
              grid-column-start: 3;
              grid-column-end: 4;
              grid-row-start: 2;
              grid-row-end: 3;

              justify-self: center;
              align-self: center;
              margin: 0;
          } .homeMain img {
              grid-column-start: 1;
              grid-column-end: 6;
              grid-row-start: 1;
              grid-row-end: 6;

              height: 100%;
          } .homepagecontent {
              grid-column-start: 2;
              grid-column-end: 5;
              grid-row-start: 3;
              grid-row-end: 4; 

              align-self: center;
          }  
    /* General Style */
      .homescreencontent p {
        color: white;
        padding: 0;
      }     
  }