/* ~~~~~~~~~~~~~~~~~general css~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  * {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
    overflow: hidden;
  }
  body {
    height: 100%;
    overflow: auto;
    background-color: white;
    margin:0;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

  }
  
  img {
    width:100%;
    box-shadow: 0 5px 10px black;
  }

  h1 {
    color:black;
    font-size: 2em;
    margin: 0;
  }
  h2 {
    color: black;
    margin: 0;
  }
  p {
    color: black;
    margin: 0;
    font-size: 1em;
    padding: 3vh;
  }

/*----------------- Master CSS -----------------*/
  /* Grid Layout */ 
  .page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 1fr auto;
    grid-template-areas:
    "nav nav"
    "main main"
    "footer footer";

    height:100vh;
  }
    /* Grid Areas*/
      .main_menu {
        grid-area: nav;
        width:100%;
      }
      main {
        grid-area: main;
      }
      .footer {
        grid-area: footer;
        height: 20px;
        padding-right: 2%;
      }
/*----------------- Menu/Navigation -----------------*/
  /* General Style */
    .dropbtn {
      font-size: 1em;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      color: white;
      box-shadow: 0 5px 10px -1px #330000;
      background-color:#330000;  
    }
    .menu {
      box-shadow: 0 9px 23px -3px #f33a00;
    }
    .menu_item {
      color: white;
      background-color: #330000;
      text-decoration: none;
    } .menu_name {
      background-color: #330000;
    } .menu_item p {
      color: white;
      padding: 0;
    } .menu_item:hover .lantern{
      /*On lantern with cursor hover*/
      filter: brightness(125%);
      transition: .5s ease-in-out;
    } .lantern {
      filter: brightness(50%);
    } .lantern img {
      box-shadow: none;
    } .lantern.on {
      /*On Lantern for current screen*/
      filter: brightness(100%);
    }


  /* Grid Layout */
 .dropbtn {
        /* dropdown for mobile */  
        display: block;
        position: absolute;
        top: 0;
        z-index: 4;   

        padding: 10px;
        border: none;
        
        width: 100%;  
        text-align: left;
      } 
      /* Grid Layout */
        .menu {
          display: none;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(6, 40px);
          
          position: absolute;
          top: 40px;
          z-index: 10;
          width: 100%;
          } .main_menu:hover .menu {
            display: grid;
          } 
        /* Grid Layout */
            .menu_item {
              /*Grid for displaying page links*/
              display: grid;
              grid-template-columns: 30px 1fr;
              grid-column-gap: 5%;
              grid-template-areas: "lan name";
              
              width: 100%;
              align-items: center;
            } 
            /* Grid Areas*/
                .lantern {
                  grid-area: lan;
              } .menu_name {
                  grid-area: name;
              }
/*----------------- Footer -------------------------*/
  /* General Style */
      .footer {
        text-align: right;
        background-color:#330000;
    } .footer p {
      color: white;
      padding:0;
      font-size: .8em;
    }
  /* Grid Areas */
