/* ~~~~~~~~~~~~~~~~~general css~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  * {
    box-sizing: border-box;
    margin: 0;
  }
  html {
    height: 100%;
    overflow: hidden;
  }
  body {
    height: 100%;
    overflow: auto;
    background-color: white;
    color: black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }
  img {
    width:100%;
  }
  h1 {
    font-size: 2em;
  }
  main p {
    font-size: 1em;
    padding: 3vh;
  }
  main img {
    box-shadow: 0 5px 10px black;
  }

  /* Grid Layout */ 
  .page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 1fr auto;
    grid-template-areas:
    "nav nav"
    "main main"
    "footer footer";

    height:100vh;
  }
    /* Grid Areas*/
      .main_menu {
        grid-area: nav;
        width:100%;
        background-color:#330000; 
        color: white;
      }
      main {
        grid-area: main;
      }
      .footer {
        grid-area: footer;
        padding-left: 2%;

        background-color:#330000;
        color: white;
        font-size: .8em;
      }
/*----------------- Menu/Navigation -----------------*/
  /* General Style */
    .top_menu {
      box-shadow: 0 9px 23px -3px #330000;
    }
    .menu {
      background-color: #330000;
    }
    .menu_item {
      color: white;
      text-decoration: none;
    } .menu_item:hover .lantern{
      /*On lantern with cursor hover*/
      filter: brightness(125%);
      transition: .5s ease-in-out;
    } .lantern {
      filter: brightness(50%);
    } .lantern img {
      padding: 3px;
    } .lantern.on {
      /*On Lantern for current screen*/
      filter: brightness(100%);
    }

      /* Grid Layout */
        .menu {
          display: none;
          grid-template-rows: repeat(6, 40px);
          
          position: relative;
          z-index: 10;
          width: 100%;
          } .main_menu:hover .menu {
            display: grid;
          } 
        /* Grid Layout */
            .menu_item {
              /*Grid for displaying page links*/
              display: grid;
              grid-template-columns: 40px 1fr;
              grid-template-rows: 40px;
              grid-column-gap: 5%;
              grid-template-areas: "lan name";
              
              align-items: center;
            } 
            /* Grid Areas*/
                .lantern {
                  grid-area: lan;
              } .menu_name {
                  grid-area: name;
              }

